@use '../variables' as vars;
@use '../mixins' as mixins;

.btn-cs {
  @include mixins.btn-base(vars.$cyan, vars.$bg);
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.btn-cs-outline {
  @include mixins.btn-base(transparent, vars.$cyan);
  border: 1px solid rgba(0,212,255,0.16);
  background: transparent;
}
